################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FirstGitRepository/obj
/FirstGitRepository/bin/Debug/net5.0
